version: "3.9"

services:
  mysql:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MYSQL_VERSION: 8.0.28
    platform: linux/amd64
    container_name: mysql-container
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: demo
      TZ: "Asia/Tokyo"
    volumes:
      - ./my.ini:/etc/mysql/conf.d/my.ini
      - ./Buckup:/mnt/buckup